html, body {
    height: 100%;
    margin: 0;
    font-family: monospace;
    font-size: 24px;
}

#headerTitle {
    box-sizing: border-box;
    height: 75px;
    padding: 20px;
    font-size: 32px;
    color: white;
}

header {
    text-align: center;
    background-color: #990000;
    border: 2px solid #000; 
}

.gameContainer {
    width: 90%;
    min-height: 880px;
    margin: 20px auto 20px auto;
    border: 2px solid #000; 
    background-image: url(../images/dark_fish_skin.png);
}



.screen{
    display: grid;
    text-align: center;
    margin: 0 auto; 
}

#battleScreen {
    display: none;
}

#selectScreen{
    /* display: none; */
    grid-template-columns: 1fr 5fr 5fr 5fr 1fr 8fr 1fr;
}

.sectionTitle{
    color: white;
    font-size: 24px;
    padding: 10px;
}


 

#selectScreen #partyListTitle{
    grid-row: 1;
    grid-column: 2/5;
    
    
}

#selectScreen #characterSelectorTitle{
    grid-row: 1;
    grid-column: 6/7;
    
   
    
}

#selectScreen #partyList{
    grid-row: 2;
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(50px, 400px);
    grid-gap: 10px;
    box-sizing: border-box;

}

#selectScreen #characterSelector{
    grid-row: 2;
    grid-column: 6/7;
    box-sizing: border-box;
}


.card {

    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5fr 10fr 3fr 3fr 3fr 1fr;
    grid-gap: 4px;
    box-sizing: border-box;
    border-radius: 5%;
    overflow: hidden;
    border: 2px solid #000;
    background-color: #ffffff;
    font-size: 20px;
    align-items: center;

}

.card .removeButton{
    position: absolute;
    top: 0px;
    left: 0px;    
}

.card .memberName{
    font-size: 28px;
    padding: 3%;
    color: white;
    background-color: #990000;
    border-bottom: 5px solid #000;
    border-top: 1px solid #000;
    
}

.card .memberStat{
    padding: 3%;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    background-color: #ddd;
}

.card .memberImg{
    margin: auto;
}



footer {
    box-sizing: border-box;
    height: 75px;
    background-color:  #777; 
    border-top: 5px solid #000; 
}

#continueButton{
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto 20px auto;
}


.gameCard {
    font-size: 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 20px -6px 20px;
    overflow: hidden;
}

.playerCard{
    box-shadow: 2px 2px black, 4px 4px #009900, 8px 8px black;
}

.opponentCard{
    box-shadow: 2px 2px black, 4px 4px #990000, 8px 8px black;
}

.battleArea {
    float: left;
    width: 948px;
    height: 100%;
    background-image: url(../images/diagonal-squares.png);

}

.cardWrapper {
    width: fit-content;
    margin: 0 auto;
    padding: 94px 0 94px 0;
    overflow: visible;
}


.turnOrderDisplay {
    float: left;
    width: fit-content;
    height: 100%;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    color: white;
    background-color: #333;
    border: 1px solid black;
}

.turnOrder {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 10px 2px 10px;
    border: 2px solid green;
    background-color: black;
}

#turnOrder0 {
    border-color: gold;
}

#moveSelectPanel {
    display: none;
    position: absolute;
    width: inherit;
    margin-top: 20px; 
    font-size: 16px;
    color: black;
    text-align: center;
    border: 1px solid black;
}

.moveButton {
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: white;
    border: 1px solid black;
}

.activeCard{
    box-shadow: 2px 2px black, 4px 4px gold, 8px 8px black;
}

.screen{

    width: inherit;
    height: inherit;
}

#screenTitle{
    background-color: white;
}

