html, body {
    height: 100%;
    margin: 0;
    font-family: monospace;
    font-size: 24px;
    color: white;
}

#headerTitle {
    grid-column: 5/9;
    font-size: 32px;
    
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(75px, 75px);
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #330000;
    border: 2px solid #000; 
}

.gameContainer {
    width: 90%;
    min-height: 800px;
    margin: 20px auto 20px auto;
    border: 2px solid #000;    
}



.screen{
    width: 100%;
    height: 100%;
    
}

#titleScreen{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 50px);
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #000;
}

#selectScreen{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 50px);
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/dark_fish_skin.png);
}

#battleScreen{
    
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(8, 100px);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/dark_fish_skin.png);
    
}

.battleDisplay{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 5px solid black;
    background-color: #222222cc;
}



#controlWindow{
    grid-row: 5/7;
    grid-column: 8/14;
    display: grid;
    grid-template-columns: 1fr, 5fr, 1fr;
    align-items: center;
    justify-items: center;
}


#battleWindow{
    grid-row: 1/5;
    grid-column: 4/18;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    background-image: url(../images/mosaic.png);
}

.moveBtn{
    width: 50%;
    height: 100%;

}


#attackBtn{
   
}

#magicBtn{
   
}

#itemBtn{
}

#defendBtn{
  
}

#controlWindow2{
    grid-row: 7/9;
    grid-column: 8/14;

}

#previewWindow{
    grid-row: 5/9;
    grid-column: 14/18;
}

#previewWindow .card{
    zoom: .75;
    margin: 0 auto;
}

.windowTitle{
    width: 95%;
    margin: 0 auto;
    background-color: #00000055;
    border: 2px solid black;
    margin-bottom: 5px;
}

#consoleWindow{

    grid-row: 5/9;
    grid-column: 4/8;
    font-size: 20px;
    line-height: 30px;

}

.token{
    box-sizing: border-box;
    margin: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #000;
    
}

.playerToken{
    box-shadow: 2px 2px #000, 4px 4px #007777, 8px 8px #000;
}

.opponentToken{
    box-shadow: 2px 2px #000, 4px 4px #770000, 8px 8px #000;
}

.activeToken{
    box-shadow: 2px 2px #000, 4px 4px #777700, 8px 8px #000;
}

#player0{
    grid-row: 1;
    grid-column: 4;

}

#player1{

    grid-row: 1;
    grid-column: 6;
    
}

#player2{

    grid-row: 1;
    grid-column: 8;
    
}

#opponent0{
    grid-row: 5;
    grid-column: 2;
}

#opponent1{
    grid-row: 5;
    grid-column: 4;
}

#opponent2{
    grid-row: 5;
    grid-column: 6;
}

#opponent3{
    grid-row: 5;
    grid-column: 8;
}

#opponent4{
    grid-row: 5;
    grid-column: 10;
}

#mainTitle{
    grid-column: 3/11;
    grid-row: 5/8;
    font-size: 98px;
    
}

#mainAuthor{
    align-self: start;
    grid-column: 3/11;
    grid-row: 8;
    font-size: 28px;
}

#mainInstructions{
    grid-column: 3/11;
    grid-row: 10;
    font-size: 28px;
}

.sectionTitle{
    font-size: 24px;
    padding: 10px;
}

#selectScreen #partyListTitle{
    grid-row: 1;
    grid-column: 2/8;
    
}

#selectScreen #characterSelectorTitle{
    grid-row: 1;
    grid-column: 9/12;    
}

#selectScreen #partyList{
    grid-row: 2 / 12;
    grid-column: 2/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
    box-sizing: border-box;
    width: fit-content;
    padding: 10px;
}

#selectScreen #characterSelector{
    grid-row: 2 / 12;
    grid-column: 9/12;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
    box-sizing: border-box;
}

#characterSelector .card{
    grid-row: 1 / 9;
    grid-column: 2;
}

#characterSelector #selectorBackward{
    grid-row: 4;
    grid-column: 1;
    width: 32px;
    height: 32px;
    background-image: url(../images/backArrow1.png);
}

#characterSelector #selectorForward{
    grid-row: 4;
    grid-column: 3;
    width: 32px;
    height: 32px;
    background-image: url(../images/forwardArrow1.png);
}


header #screenBackward{
    grid-column: 4;
    width: 32px;
    height: 32px;
    background-image: url(../images/backArrow1.png);
}

header #screenForward{
    grid-column: 9;
    width: 32px;
    height: 32px;
    background-image: url(../images/forwardArrow1.png);
}


#characterSelector #selectorBackward:hover,
header #screenBackward:hover{
    background-image: url(../images/backArrow2.png);
}

#characterSelector #selectorForward:hover,
header #screenForward:hover{
    background-image: url(../images/forwardArrow2.png);
}


.card {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-areas:
    "name name name name"
    "img img img img"
    "img img img img"
    "img img img img"
    "hp hp hp hp"
    "mp mp mp mp"
    ". att mAtt ."
    ". def mDef .";
    width: 280px;
    height: 500px;
    grid-gap: 4px;
    box-sizing: border-box;
    border-radius: 5%;
    overflow: hidden;
    border: 2px solid #000;
    background: -moz-linear-gradient(45deg,#000 20%, #444 60%, #000);
    background: -webkit-linear-gradient(45deg,#000 20%, #444 60%, #000);
    background: linear-gradient(45deg,#000 20% , #444 60%, #000);
    font-size: 20px;
    align-items: center;
}
.card .memberName{
    grid-area: name;
    font-size: 28px;
    padding: 3%;
    background-color: #99000077;
    border-bottom: 5px solid #000;
    border-top: 1px solid #000;   
}

.card .memberStat{
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #00550077;
    
}

.card .memberImg{
    grid-area: img;
    
    margin: auto;
}

.card div > img{
    border: 3px solid darkgoldenrod;
}

.card .memberHealth{
    grid-area: hp;
    background-color: #55000077;
    
}

.card .memberMana{
    grid-area: mp;
    background-color: #00005577;
    
    
}

.card .memberAttack{
    grid-area: att;
    
    
}

.card .memberDefense{
    grid-area: def;
   
    
}
.card .memberMagicAttack{
    grid-area: mAtt;
    
    
}
.card .memberMagicDefense{
    grid-area: mDef;
    
    
}

footer {
    box-sizing: border-box;
    height: 100px;
    background-color:  #333; 
    border-top: 5px solid #000; 
}

